/* Display de resultados */
.results-window {
  width: $externalWidth - 2.5rem;
  height: $topHeight - 2.5rem;

  background: linear-gradient($displayDarkColor, $displayColor);
  box-shadow: -2px 2px 0 inset $shadow;

  &-data {
    color: $displayFontColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    /* Classe adicional que executa a animação */
    &.emtransicao {
      animation: fadein 1s;
    }
  }
  /* Animação de transição */
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
