/node_modules
dist/js
/build

# Arquivos de configuração
.eslintrc.json
.vscode/
.idea/modules.xml
.idea/pokedex.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml

/coverage
/.pnp.loader.mjs
/.pnp.cjs
/.yarn/
/.idea/
