# Pasta do node
/node_modules

# Arquivos de configuração
.eslintrc.json
.vscode/
.idea/modules.xml
.idea/pokedex.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml

# Arquivos Jest
/coverage