body {
  display: inline-block;
  justify-items: center;
}

.busca {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.results-window {
  border: 2rem solid red;
  display: inline-block;
  margin-top: 5rem;
  border-radius: 5px;
}

.results-window-data {
  width: 15rem;
  height: 15rem;
  border: 1rem white solid;
}
