body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 360px;
  height: 638px;
}

.results-window {
  width: 361px;
  height: 327px;
  left: 0px;
  top: 0px;

  background: #f0f0f0;
  border: 30px solid #fa0321;
  box-sizing: border-box;
  border-radius: 5px;
}

.results-window-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.busca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 360px;
  height: 311px;
  left: 46px;
  top: 327px;

  background: #fa0321;
}
