$color-dark: #000000;

$color-shadow: #242424;

$color-light: #f0f0f0;
$color-case-light: #fa364d;
$color-case: #e60721;
$color-case-dark: #c50118;
$color-display: #b4f894;
$color-display-dark: #66ff48;
$color-display-dark-font: #246d03;
$color-shiny: #00ee9f;

$color-button: #ffe800;
$color-button-gray: #bdbdbd;

$externalWidth: 20rem;
$externalHeight: 28rem;

$topHeight: 15rem;
