$dark: #000000;

$shadow: #242424;

$lightColor: #f0f0f0;
$color-case-light: #f61c35;
$color-case: #e60721;
$color-case-dark: #c50118;
$displayColor: #b4f894;
$displayDarkColor: #66ff48;
$displayFontColor: #246d03;
$displayColorShiny: #00ee9f;

$buttonColor: #ffe800;
$buttonColorAlt: #bdbdbd;

$externalWidth: 20rem;
$externalHeight: 28rem;

$topHeight: 15rem;
