.auto-complete {
  width: 100%;
  border: none;
  background: var(--display-color);
}

.auto-complete * {
  margin: 0 0.4rem;
  color: var(--display-font-color);
  text-align: center;
  border: none;
  cursor: pointer;
}

.auto-complete * :hover {
  font-weight: bold;
  background: var(--display-color-shiny);
}
