.auto-complete {
  border: none;
  background: var(--display-color);
  width: 75%;
}

.auto-complete * {
  margin: 0 0.4rem;
  color: var(--display-font-color);
  text-align: center;
  border: none;
}
