/* Formulário de busca */
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: static;
  width: var(--external-width);
  height: 13rem;

  background: var(--case-color);
}

/* Left and right arrows */
.navigation {
  margin: 00.5rem;
  height: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  padding: 0.5rem;
  width: 35%;
  height: 100%;
  background: var(--buton-color);
  border: none;
}

.nav-button:hover {
  animation: stretching 1s infinite;
}

#navigation-previous {
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}

@keyframes stretching {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

#navigation-next {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

/* Search bar & tools */
.search-bar {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.search-tools {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-text {
  width: 100%;
  margin-top: 0.7rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Botão de busca */

#botao-busca {
  padding: 0.35rem;
  margin-top: 0;
  width: 32px;
  height: 32px;
  background: none;
}

#botao-busca:hover {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
