/* Formulário de busca */
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: static;
  width: var(--external-width);
  height: 13rem;

  background: var(--case-color);
}

/* Left and right arrows */
.navigation {
  margin: 00.5rem;
  height: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  font-family: arial;
  font-size: x-small;
  text-transform: uppercase;
  letter-spacing: 1px;

  box-shadow: -1px 2px 0 var(--shadow);
  text-decoration: none;

  margin: 0 0.5rem;
  padding: 0.9rem 1.2rem;
  position: relative;

  display: inline-block;
  width: 49%;
  height: 100%;
  background: var(--buton-color);
  border: none;
}

/* Search bar & tools */
.search-bar {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.search-tools {
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-text {
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.2rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  box-shadow: -1px 1px 0 inset var(--shadow);
}
/* Botão de busca */

#botao-busca {
  padding: 0.35rem;
  margin-top: 0;
  width: 32px;
  height: 32px;
  background: none;
}

#botao-busca:hover {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
