body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 360px;
  height: 638px;
}

/* Formulário de busca */
.busca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 360px;
  height: 150px;
  left: 46px;
  top: 327px;

  background: #fa0321;
}

.busca input[type="text"] {
  margin: 0.5rem;
  width: 75%;
  height: 15%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Botão de busca */

.button {
  padding: 0.5rem 1rem;
  height: 25%;
  border: none;
  color: #f0f0f0;
  background: #00ab30;
  border-radius: 2px;
}

.button:hover {
  background: #00ee9f;
}
