.auto-complete {
  position: relative;
  top: -2rem;
  left: -1rem;

  width: 10rem;
  height: fit-content;
  border: none;
  background: $displayColor;

  p {
    margin: 0.3rem;
    color: $displayFontColor;
    text-align: center;
    border-bottom: dotted 1px $displayFontColor;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      background: $displayColorShiny;
    }
  }
}
