#display__autocomplete {
  position: absolute;
  top: $externalHeight - 3.5rem;
  left: auto;

  width: 10rem;
  height: fit-content;
  border: none;
  background: $displayColor;

  > p {
    height: 1rem;
    margin: 0.4rem;

    color: $displayFontColor;
    text-align: center;
    border-bottom: dotted 1px $displayFontColor;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      background: $displayColorShiny;
    }
  }
}
