.main {
  margin: auto;

  display: grid;
  justify-items: center;

  width: $externalWidth;
  height: $externalHeight;

  background-color: $caseColor;
  border: 0 solid $caseColor;
  border-radius: 1rem;

  box-shadow: -0.2rem 0.5rem $shadow;
}
