.main {
  width: $externalWidth;
  height: $externalHeight;

  background-color: $caseColor;
  border: 0 solid $caseColor;
  border-radius: 1rem;

  box-shadow: -0.2rem 0.5rem $shadow;
}

.container {
  margin: auto;
  display: grid;
  justify-items: center;
}

.bottom {
  grid-template-rows: auto 2fr;

  width: $externalWidth - 1rem;
  height: $externalHeight - $topHeight;

  background: $caseColor;
}
