.main {
  width: $externalWidth;
  height: $externalHeight;

  grid-template-rows: 2fr 2fr;
  gap: 1rem;

  background-color: $caseColor;
  border: 0 solid $caseColor;
  border-radius: 1rem;

  box-shadow: -0.2rem 0.5rem $shadow;
}

.container {
  margin: auto;
  display: grid;
  justify-items: center;
}

.bottom {
  grid-template-rows: 3fr 2fr 1fr;

  background: $caseColor;
}
