.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: auto;

  position: relative;
  width: $externalWidth;
  height: $externalHeight;

  background-color: $caseColor;
  border: 0 solid $caseColor;
  border-radius: 1rem;

  box-shadow: -0.2rem 0.5rem $shadow;
}
