/* Formulário de busca */
.bottom {
  display: grid;
  justify-items: center;

  grid-template-rows: 5fr 2fr 5fr;

  width: $externalWidth;
  height: $externalHeight - $topHeight;

  background: $caseColor;
}
