/* Formulário de busca */
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: static;
  width: $externalWidth;
  height: $bottomHeight;

  background: $caseColor;
}
