/* Left and right arrows */
#navigation__buttons {
  width: $externalWidth - 3rem;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .button {
    @include button(7rem, 2rem);
  }
}

#navigation__dots {
  height: 1rem;
}
