/* Left and right arrows */
#navigation {
  width: $externalWidth - 3rem;

  grid-template-areas:
    "a b"
    "c d";

  > input {
    margin: 0.5rem auto;
  }
}
.button {
  @include button(7rem, 2rem);
}
